.article {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 26px;
  background-color: #fff;
  padding: 20px;

  .article_body {
    margin-top: 20px;
    max-width: 100%;
    p {
      display: block;
    }
  }

  .article_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;

    .edit_article_btns {
      position: absolute;
      right: 0;
      top: 4em;
      & > button:first-child {
        margin-right: 10px;
      }
      & > button:last-child {
        border: 1px solid #52c41a;
        color: #52c41a;
      }
    }

    .article_full_tags {
      position: absolute;
      top: 45px;
      max-width: 700px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      span {
        padding: 0px 6px;
        border: 1px solid rgba(0, 0, 0, 0.507);
        border-radius: 2px;
      }
    }
    & > div:first-child {
      display: flex;
      column-gap: 10px;
      align-items: center;
      h3 {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        color: #1890ff;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 600px;
        cursor: pointer;
      }
      & > div {
        display: flex;
        column-gap: 5px;
        align-items: center;
      }
    }
  }
}

.profile_info_article {
  display: flex;
  column-gap: 10px;
  align-items: center;
  h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
  }
  span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }
}

.article_avatar {
  width: 46px;
  height: 46px;
}
