@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,900;1,6..12,200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #ebeef3;
}

textarea {
  font-family: 'Nunito Sans', sans-serif;
}

ul li {
  list-style: none;
}

.pagination-app {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.atricle-spin {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.not_found {
  display: flex;
  justify-content: center;
  align-items: center;
}
